@media only screen and (max-width: 1350px) {
    h1 {
        left: calc(50% - 30px);
    }

    .subtask_box {
        width: 412px;
    }

    .subtask_child img {
        left: 382px;
    }

    .clear_create_task {
        justify-content: space-between;
    }

    .form {
        flex-direction: column;
        left: calc(50% - 357px);
    }

    .form_left {
        align-items: center;
        padding-right: 0;
        border: none;
    }

    .form_right {
        align-items: center;
        margin-left: 0;
    }

    .category_name_box {
        margin-left: -53px;
    }

    .form_right {
        margin-top: -54px;
    }
}

@media only screen and (max-width: 700px) {
    input {
        width: 360px;
    }

    textarea {
        width: 360px;
    }

    .drop_down {
        padding-left: 20px;
        width: 360px;
    }

    .down_image {
        left: 330px;
    }

    .render_categorys_box {
        width: 360px;
    }

    .plus_image {
        left: 325px;
    }

    .clear_create_task {
        width: 360px;
        right: unset;
    }

    .prio {
        width: 360px;
    }

    .input_category_name {
        width: 300px;
        margin-left: 0px;
    }

    .x✔ {
        left: 289px;
    }

    .category_color {
        margin-left: 30px;
    }

    .subtask_box {
        width: 360px;
    }

    .subtask_child img {
        left: 330px;
    }

    .custom_checkBox {
        left: 310px;
    }

    .initials_box {
        width: 360px;
    }

    .form {
        left: calc(50% - 332px);
    }
}

@media only screen and (max-width: 600px) {
    .form {
        left: calc(50% - 180px);
        top: 210px;
        margin-left: unset;
    }

    h1 {
        left: calc(50% - 180px);
        font-size: 47px;
        top: 117px;
    }

    span {
        font-size: 16px;
    }

    input {
        margin-bottom: 9px;
        height: 41px;
        font-size: 16px;
    }

    textarea {
        margin-bottom: 9px;
        font-size: 16px;
        height: 93px;
    }

    span {
        margin-top: 9px !important;
    }

    .addBord_box {
        bottom: 250px;
        font-size: 16px;
        width: 290px;
    }

    .mobile_create_button {
        position: absolute;
        top: 12px;
        right: 20px;
        justify-content: center;
        width: 124px;
        height: 51px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 21px;
        color: white;
        background-color: #2A3647;
        transition: 300ms;
        transform: scale(1);
    }

    .drop_down {
        height: 41px;
        font-size: 16px;
    }

    .form_left {
        padding-bottom: 0;
        align-items: start;
    }

    .form_right {
        align-items: start;
    }


    .sub_headline {
        display: block;
        position: absolute;
        left: calc(50% - 180px);
        top: 110px;
    }

    .render_categorys {
        height: 41px;
        font-size: 16px;
    }

    .x✔ {
        height: 41px;
    }

    .down_image {
        top: 13px;
    }

    .category_name_box {
        margin-left: 0;
    }

    .prio_button {
        font-size: 16px;
        height: 41px;
    }

    .plus_image {
        top: 9px;
    }

    .set_category {
        height: 41px;
    }

    .clear_create_task {
        display: none;
    }

    .render_categorys_box {
        margin-bottom: 9px;
        max-height: 165px;
    }

    .subtask_box {
        min-height: 150px;
    }

    .custom_checkBox {
        top: 12px;
    }

    .form_right {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 400px) {
    input {
        width: 320px;
    }

    h1 {
        left: calc(50% - 160px);
    }

    textarea {
        width: 320px;
    }

    .sub_headline {
        left: calc(50% - 160px);
    }

    .prio {
        width: 320px;
    }

    .drop_down {
        width: 320px;
    }

    .down_image {
        left: 290px;
    }

    .plus_image {
        left: 285px;
    }

    .render_categorys {
        width: 320px;
    }

    .render_categorys_box {
        width: 320px;
    }

    .initials_box {
        width: 315px;
    }

    .x✔ {
        left: 250px;
    }

    .custom_checkBox {
        left: 270px;
    }

    .subtask_box {
        width: 320px;
    }

    .subtask_child img {
        left: 290px;
    }

    .form {
        left: calc(50% - 159px);
    }
}