/* open-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/open-sans-v34-latin-300.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/open-sans-v34-latin-300.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-v34-latin-300.woff2") format("woff2"), url("../assets/fonts/open-sans-v34-latin-300.woff") format("woff"), url("../assets/fonts/open-sans-v34-latin-300.ttf") format("truetype"), url("../assets/fonts/open-sans-v34-latin-300.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/open-sans-v34-latin-300italic.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/open-sans-v34-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-v34-latin-300italic.woff2") format("woff2"), url("../assets/fonts/open-sans-v34-latin-300italic.woff") format("woff"), url("../assets/fonts/open-sans-v34-latin-300italic.ttf") format("truetype"), url("../assets/fonts/open-sans-v34-latin-300italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/open-sans-v34-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/open-sans-v34-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("../assets/fonts/open-sans-v34-latin-regular.woff") format("woff"), url("../assets/fonts/open-sans-v34-latin-regular.ttf") format("truetype"), url("../assets/fonts/open-sans-v34-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/open-sans-v34-latin-italic.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/open-sans-v34-latin-italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-v34-latin-italic.woff2") format("woff2"), url("../assets/fonts/open-sans-v34-latin-italic.woff") format("woff"), url("../assets/fonts/open-sans-v34-latin-italic.ttf") format("truetype"), url("../assets/fonts/open-sans-v34-latin-italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/open-sans-v34-latin-500.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/open-sans-v34-latin-500.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-v34-latin-500.woff2") format("woff2"), url("../assets/fonts/open-sans-v34-latin-500.woff") format("woff"), url("../assets/fonts/open-sans-v34-latin-500.ttf") format("truetype"), url("../assets/fonts/open-sans-v34-latin-500.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 500;
  src: url("../assets/fonts/open-sans-v34-latin-500italic.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/open-sans-v34-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-v34-latin-500italic.woff2") format("woff2"), url("../assets/fonts/open-sans-v34-latin-500italic.woff") format("woff"), url("../assets/fonts/open-sans-v34-latin-500italic.ttf") format("truetype"), url("../assets/fonts/open-sans-v34-latin-500italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/open-sans-v34-latin-600.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/open-sans-v34-latin-600.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-v34-latin-600.woff2") format("woff2"), url("../assets/fonts/open-sans-v34-latin-600.woff") format("woff"), url("../assets/fonts/open-sans-v34-latin-600.ttf") format("truetype"), url("../assets/fonts/open-sans-v34-latin-600.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("../assets/fonts/open-sans-v34-latin-600italic.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/open-sans-v34-latin-600italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-v34-latin-600italic.woff2") format("woff2"), url("../assets/fonts/open-sans-v34-latin-600italic.woff") format("woff"), url("../assets/fonts/open-sans-v34-latin-600italic.ttf") format("truetype"), url("../assets/fonts/open-sans-v34-latin-600italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/open-sans-v34-latin-700.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/open-sans-v34-latin-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-v34-latin-700.woff2") format("woff2"), url("../assets/fonts/open-sans-v34-latin-700.woff") format("woff"), url("../assets/fonts/open-sans-v34-latin-700.ttf") format("truetype"), url("../assets/fonts/open-sans-v34-latin-700.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/open-sans-v34-latin-700italic.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/open-sans-v34-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-v34-latin-700italic.woff2") format("woff2"), url("../assets/fonts/open-sans-v34-latin-700italic.woff") format("woff"), url("../assets/fonts/open-sans-v34-latin-700italic.ttf") format("truetype"), url("../assets/fonts/open-sans-v34-latin-700italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/open-sans-v34-latin-800.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/open-sans-v34-latin-800.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-v34-latin-800.woff2") format("woff2"), url("../assets/fonts/open-sans-v34-latin-800.woff") format("woff"), url("../assets/fonts/open-sans-v34-latin-800.ttf") format("truetype"), url("../assets/fonts/open-sans-v34-latin-800.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: url("../assets/fonts/open-sans-v34-latin-800italic.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/open-sans-v34-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-v34-latin-800italic.woff2") format("woff2"), url("../assets/fonts/open-sans-v34-latin-800italic.woff") format("woff"), url("../assets/fonts/open-sans-v34-latin-800italic.ttf") format("truetype"), url("../assets/fonts/open-sans-v34-latin-800italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}
.log-in {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.log-in .log-in-logo {
  position: absolute;
  top: 8%;
  left: 8%;
}
.log-in .sign-up {
  position: absolute;
  right: 8%;
  top: 5%;
}
.log-in .sign-up .sign-up-button {
  background-color: #2A3647;
  color: white;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  margin-left: 24px;
}
.log-in .sign-up .sign-up-button:hover {
  background-color: #29ABE2;
}
.log-in .form-class {
  height: 400px;
  width: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.0392156863);
  position: relative;
}
.log-in .form-class .log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log-in .form-class .log-in-form .log-in-headline {
  font-size: 50px;
  font-weight: 700;
  border-bottom: 3px solid #29ABE2;
  padding-bottom: 10px;
  margin-bottom: 25px;
  margin-top: 16px;
}
.log-in .form-class .log-in-form .name-input {
  margin-bottom: 25px;
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #D1D1D1;
  background: white url("../assets/img/person-icon.png") right no-repeat;
  background-position: 94% 55%;
}
.log-in .form-class .log-in-form .email-input {
  margin-bottom: 25px;
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #D1D1D1;
  background: white url("../assets/img/letter-icon.png") right no-repeat;
  background-position: 94% 55%;
}
.log-in .form-class .log-in-form .password-input {
  margin-bottom: 25px;
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #D1D1D1;
  background: white url("../assets/img/lock-icon.png") right no-repeat;
  background-position: 94% 55%;
}
.log-in .form-class .log-in-form ::-moz-placeholder {
  opacity: 0.5;
}
.log-in .form-class .log-in-form ::placeholder {
  opacity: 0.5;
}
.log-in .form-class .log-in-form .log-in-checkbox-div {
  font-size: 13px;
  display: flex;
  margin-bottom: 25px;
}
.log-in .form-class .log-in-form .log-in-checkbox-div .remember-me {
  margin-left: 8px;
  font-style: normal;
  font-weight: 500;
}
.log-in .form-class .log-in-form .log-in-checkbox-div .forgot-password-link {
  text-decoration: none;
  color: #29ABE2;
  margin-left: 25px;
}
.log-in .form-class .log-in-form .log-in-checkbox-div .forgot-password-link:hover {
  color: #1188bb;
}
.log-in .form-class .log-in-form .log-in-checkbox-div input[type=checkbox] {
  cursor: pointer;
  accent-color: #2A3647;
}
.log-in .form-class .log-in-form .log-in-checkbox-div input:focus {
  outline: none;
}
.log-in .form-class .log-in-form .log-in-button {
  background-color: #2A3647;
  color: white;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  text-decoration: none;
  margin-right: 24px;
}
.log-in .form-class .log-in-form .log-in-button:hover {
  background-color: #29ABE2;
}
.log-in .form-class .log-in-form .guest-log-in-button {
  color: #2A3647;
  background-color: white;
  cursor: pointer;
  padding: 10px 8px;
  border-radius: 6px;
  font-weight: 700;
  border: 1px solid #2A3647;
  font-size: 16px;
}
.log-in .form-class .log-in-form .guest-log-in-button:hover {
  color: #29ABE2;
  border: 1px solid #29ABE2;
}

.arrow-left-icon {
  position: absolute;
  top: 5%;
  left: 5%;
  cursor: pointer;
}

.text-center {
  text-align: center;
  margin-bottom: 25px;
}

.forgot-password-text {
  overflow: hidden;
  white-space: nowrap;
  font-size: 40px !important;
}

.forgot-password-height {
  height: 300px !important;
  width: 600px !important;
}

.reset-password-height {
  height: 350px !important;
  width: 600px !important;
}

.menu {
  background-color: #2A3647;
  color: rgba(255, 255, 255, 0.8352941176);
  position: fixed;
  top: 0;
  bottom: 0;
  float: left;
  width: 200px;
  font-size: 16px;
}
.menu .menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.menu .menu-content .menu-logo {
  height: 100px;
  width: 80px;
  margin-top: 50px;
  margin-bottom: 75px;
  cursor: pointer;
}
.menu .menu-content .menu-nav a {
  color: rgba(255, 255, 255, 0.8352941176);
  text-decoration: none;
}
.menu .menu-content .menu-nav .nav-text {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  width: 200px;
  height: 50px;
}
.menu .menu-content .menu-nav .nav-text:hover {
  background-color: #091931;
  cursor: pointer;
}
.menu .menu-content .nav-icon-box {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 30px;
}
.menu .menu-content .legal-notice {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  position: absolute;
  top: 650px;
}
.menu .menu-content .legal-notice:hover {
  background-color: #091931;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 200px;
  box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);
  height: 75px;
}
.header .header-headline {
  margin-left: 50px;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
}
.header .header-icons {
  display: flex;
  align-items: center;
}
.header .header-icons .profil-pic {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  margin-right: 16px;
}
.header .header-icons .profil-pic:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.header .header-icons .question-icon {
  height: 20px;
  width: 20px;
  margin-right: 16px;
}
.header .header-icons .question-icon:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.legal-notice-content {
  margin-left: 200px;
  padding-left: 10px;
}

.board-content {
  display: flex;
  margin-left: 200px;
  padding-left: 56px;
  padding-top: 56px;
}
.board-content h1 {
  font-size: 48px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background-color: #F6F7F8;
}/*# sourceMappingURL=style.css.map */