body {
    overflow: auto;
}

.board-content {
    margin-left: 200px;
    padding-left: 56px;
    padding-top: 56px;
    padding-right: 56px;

    .board-header {
        display: flex;
        justify-content: space-between;
        position: relative;

        h1 {
            font-size: 48px;
            margin: unset;
        }

        .search-container {
            display: flex;
            align-items: center;
            $heightInput: 48px;
            $paddingIcon: 6px;
            margin-right: 100px;

            #search-input {
                padding: 10px;
                padding-right: 56px;
                border-radius: 8px;
                border: 1px solid #D1D1D1;
                height: $heightInput;
            }

            .search-input-icon {
                height: calc($heightInput - 4 * $paddingIcon);
                transform: translateX(calc(-100%));
                padding: $paddingIcon 2*$paddingIcon $paddingIcon 2*$paddingIcon;
                border-left: 2px solid #D1D1D1;
                object-fit: contain;
                cursor: pointer;
            }

            .add-task-plus-icon {
                margin-left: 6px;
            }
        }

        .btn-add-task {
            @include button-darkblue();
            display: flex;
            align-items: center;
            padding-left: 16px;
            padding-right: 16px;
            height: 48px;
            font-size: 20px;
            position: absolute;
            right: 0;
            top: 8.5px;
        }
    }

    .board-tasks {
        display: flex;
        width: 100%;
        gap: 16px;
        margin-top: 56px;
        flex-wrap: wrap;
        justify-content: space-between;

        .tasks {
            width: 23%;
            min-width: 250px;
            padding: 4px;

            .task-header {
                display: flex;
                justify-content: space-between;
                height: 32px;
                margin-bottom: 32px;

                h3 {
                    margin: unset;
                }

                img {
                    cursor: pointer;

                    &:hover {
                        filter: invert(77%) sepia(50%) saturate(5605%) hue-rotate(165deg) brightness(95%) contrast(85%);
                    }
                }
            }

            .task-body {
                height: calc(100% - 64px);
                min-height: 200px;
                border: 2px solid transparent;
            }

            .single-task {
                position: relative;
                display: flex;
                flex-direction: column;
                padding: 16px;
                background-color: white;
                border-radius: 18px;
                box-shadow: 0px 1px 6px -2px rgba($color: #000000, $alpha: 0.2);
                margin-bottom: 16px;
                z-index: 19;
                cursor: pointer;

                h4 {
                    margin: 8px 0px;
                }

                .task-description-board {
                    color: $gray;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

                .task-topic {
                    padding: 4px 18px;
                    margin-bottom: 16px;
                    width: fit-content;
                    border-radius: 6px;
                    color: white;
                    background-color: orangered;
                }

                .mobile-arrows {
                    display: none;
                }

                .task-subtasks {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    min-height: 20px;
                    width: 100%;
                    margin: 8px 0;

                    .task-subtasks-line {
                        height: 8px;
                        width: calc(100% - 60px);
                        background-color: #f4f4f4;
                        border-radius: 2px;

                        .progress {
                            background-color: #29ABE2;
                            height: inherit;
                            border-radius: 2px;
                        }
                    }

                    span {
                        font-size: small;
                        color: black;
                    }
                }

                .task-bottom {
                    display: flex;

                    .editors {
                        display: flex;
                        height: 42px;
                        width: 100%;

                        .contact-frame {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            min-width: 42px;
                            height: 42px;
                            color: #FFFFFF;
                            border-radius: 100%;
                            background-color: $darkblue;
                            margin-left: 6px;
                            margin-right: 6px;
                        }

                        .contact-frame:nth-child(2) {
                            transform: translateX(-10px);
                        }

                        .contact-frame:nth-child(3) {
                            transform: translateX(-20px);
                        }
                    }
                }

                .task-prio {
                    display: flex;

                    img {
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

.board-detail-view {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.2);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;

    .content {
        position: relative;
        width: 50%;
        min-width: 580px;
        height: 90%;
        background-color: $pagebackground;
        border-radius: 32px;
        overflow: auto;

        .close {
            position: absolute;
            right: 40px;
            top: 40px;
            cursor: pointer;
            z-index: 20;
        }

        .task-details {
            position: relative;
            margin: 48px;
            display: flex;
            flex-direction: column;
            font-size: large;

            .category {
                padding: 4px 18px;
                margin-bottom: 16px;
                width: fit-content;
                border-radius: 6px;
                color: white;
                font-size: large;
            }

            .title {
                color: $darkblue;
                font-size: 40px;
                font-weight: bold;
                margin-bottom: 24px;
            }

            .date {
                display: flex;
                align-items: center;
                gap: 24px;
                margin-top: 24px;
                margin-bottom: 24px;
            }

            .priority {
                display: flex;
                align-items: center;
                gap: 24px;
                text-transform: capitalize;

                .prio-icon {
                    display: flex;
                    gap: 24px;
                    padding: 4px 18px;
                    border-radius: 6px;
                    color: white;

                    img {
                        object-fit: contain;
                        filter: brightness(0) invert(1);
                    }
                }
            }

            .editors {
                margin-top: 24px;
                display: flex;
                flex-direction: column;
                gap: 24px;

                .single-editor {
                    display: flex;
                    align-items: center;
                    gap: 24px;

                    .ed-initials {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100%;
                        height: 24px;
                        width: 24px;
                        padding: 8px;
                        font-size: 16px;
                        color: white;
                    }
                }
            }
        }

        .subTaskBoard {
            margin-top: 32px;
        }

        .edit-task {
            font-size: 20px;
            font-weight: normal;
            padding: 30px 150px 48px 48px;

            .title {
                display: flex;
                flex-direction: column;
                gap: 8px;

                input {
                    width: unset !important;
                    margin-bottom: 16px;
                }
            }

            .description {
                display: flex;
                flex-direction: column;
                gap: 8px;

                textarea {
                    width: inherit;
                    margin-bottom: 16px;
                }
            }

            .date {
                display: flex;
                flex-direction: column;
                gap: 8px;

                input {
                    width: inherit;
                    margin-bottom: 16px;
                }
            }

            .priority {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .edit-prio-buttons {
                    display: flex;
                    justify-content: space-between;
                    gap: 8px;

                    .prio_button {
                        width: 30%;
                    }
                }
            }

            .editors {
                display: flex;
                flex-direction: column;
                gap: 8px;
                margin-top: 24px;

                .drop_down {
                    width: unset;
                    font-size: unset;
                    padding-left: 16px;

                    .down_image {
                        left: unset;
                        right: 16px;
                    }
                }

                .render_categorys_box {
                    width: unset;

                    .render_categorys {
                        padding-left: 20px;
                    }

                    .custom_checkBox {
                        left: unset;
                        right: 16px;
                    }
                }
            }
        }

        .icons {
            position: absolute;
            display: flex;
            right: 40px;
            bottom: 40px;
            cursor: pointer;
            z-index: 20;

            .delete-button {
                width: 50px;
                height: 50px;
                border: 1px solid $darkblue;
                border-radius: 10px 0px 0px 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    filter: invert(77%) sepia(50%) saturate(5605%) hue-rotate(165deg) brightness(95%) contrast(85%);
                }
            }

            .edit-button {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0px 10px 10px 0px;
                border: 1px solid transparent;
                background-color: $darkblue;

                &:hover {
                    background-color: $lightblue;
                }
            }

            .check-button {
                width: 100px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 16px;
                border-radius: 10px;
                color: white;
                background-color: $darkblue;
                font-weight: bold;
                font-size: 20px;

                &:hover {
                    background-color: $lightblue;
                }
            }
        }
    }
}

.overlay-add-task {
    position: absolute;
    width: 103%;
    height: 100%;
    left: 0;
    top: 0;
    right: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: slide-in-from-right 0.25s normal;
    background-color: rgba(0, 0, 0, 0.312);

    .add-task {
        position: static;
        width: 100vw;
        height: 100vh;
        background-color: $pagebackground;
        border-radius: 32px;
        overflow-y: scroll;
        margin-left: 200px;

        .close-board {
            display: flex;
            justify-content: flex-end;
            margin: 24px;
            cursor: pointer;
            position: absolute;
            top: 50px;
            right: 150px;
        }
    }
}

// todo
.overlay-closed {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100% !important;
    top: 0;
    z-index: 10;
    animation: slide-out-from-left 2.25s normal !important;
}

.display-none {
    display: none !important;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-y {
    overflow-y: scroll;
}

.sticky {
    position: relative;
    z-index: 1;
    background-color: $pagebackground;
}

.mobile_create_overlay {
    visibility: hidden;
    position: fixed;
    top: 2%;
    right: 3%;
    justify-content: center;
    width: 124px;
    height: 51px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 21px;
    color: white;
    background-color: #2A3647;
    transition: 300ms;

    img {
        filter: brightness(0) invert(1);
        margin-left: 10px;
    }

    &:hover {
        cursor: pointer;
        background: #29ABE2;
        transition: 300ms;
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.41)
    }
}

@keyframes slide-in-from-right {
    from {
        left: 100%;
        width: 0%;
    }

    to {
        left: 0%;
        width: 100%;
    }
}

@keyframes slide-out-from-left {
    from {
        left: 0%;
    }

    to {
        left: 100%;
    }
}

@keyframes shadow-background-color {
    from {
        background-color: rgba($color: #000000, $alpha: 0.0);
    }

    to {
        background-color: rgba($color: #000000, $alpha: 0.2);
    }
}

@keyframes clean-background-color {
    from {
        background-color: rgba($color: #000000, $alpha: 0.2);
    }

    to {
        background-color: rgba($color: #000000, $alpha: 0.0);
    }
}

@media (max-width: 1405px) {
    .tasks {
        width: calc(31%) !important;
    }
}

@media (max-width: 1350px) {

    .overlay-add-task {
        background-color: white;
        width: 100%;
    }

    .sticky {
        z-index: 20;
    }

    .add-task {
        height: 100vh !important;
        width: 100% !important;
        margin-left: 200px !important;
    }

    .overlay {
        position: absolute;
        left: calc(50% + 250px);
        top: 550px;
    }

    .close-board {
        top: 89px !important;
        right: 50px !important;
    }
}

@media (max-width: 1130px) {
    .tasks {
        width: calc(47%) !important;
    }
}

@media (max-width: 1100px) {
    .btn-add-task-text {
        display: none;
    }

    .add-task-plus-icon {
        margin-left: unset !important;
    }

    .search-container {
        margin-right: 16px !important;
    }
}

@media (max-width: 980px) {
    .board-header {
        flex-direction: column;
        gap: 32px;
    }
}

@media (max-width: 855px) {
    .tasks {
        width: 100% !important;
    }
}

@media (max-width: 650px) {
    .close-board {
        position: absolute;
        right: 20px !important;
    }
}

@media (max-width: 600px) {
    .add-task {
        margin-left: 0px !important;
    }

    .mobile_create_overlay {
        z-index: 101;
    }

    .overlay {
        position: unset;
    }

    .close-board {
        top: 60px !important;
    }

    .board-content {
        margin: unset !important;
        padding: 32px;
        padding-bottom: 65px;
    }

    .tasks {
        width: 100% !important;
    }

    .check-button {
        position: fixed !important;
        bottom: 10% !important;
        right: 10% !important;
    }

    .board-detail-view {

        .content {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0%;
            border-radius: 0;
            background-color: $pagebackground;
            min-width: unset;
            overflow: auto;

            .edit-task {
                padding: 32px;
            }

            .close {
                right: 32px;
                top: 20px;
            }

            .icons {
                right: 32px;
                bottom: 32px;
            }
        }
    }
}

@media (max-width: 380px) {
    .custom_checkBox {
        left: 80% !important;
    }
}

@media (max-height: 710px) {
    .close {
        top: 14%;
    }
}

@media (max-height: 670px) {
    .check-button {
        bottom: 5% !important;
    }
}

@media (hover: none) {
    .mobile-arrows {
        display: flex !important;
        height: 32px;
        gap: 8px;
        z-index: 50;
    }

    .mobile-task-topic {
        display: flex;
        justify-content: space-between;
    }
}

@media (pointer: coarse) {
    .mobile-arrows {
        display: flex !important;
        height: 32px;
        gap: 8px;
        z-index: 50;
    }

    .mobile-task-topic {
        display: flex;
        justify-content: space-between;
    }
}