@media (max-width: 1000px) {

    .contacts-list {
        width: 100vw !important;
        // padding-top: 5rem !important;
        height: calc(100vh - 75px) !important;
        padding-top: 75px;
    }


    .new-contact {
        top: 24px !important;
        right: 24px !important;
        bottom: 85vh !important;
        height: 60px !important;
    }

    .d-none-mobile {
        display: none !important;
    }

    #contacts-container {
        .contact-info {
            padding: 0px !important;
            width: 100vw !important;

            .arrowLeftMobile {
                display: block !important;
                position: absolute;
                top: 24px;
                right: 32px;
                cursor: pointer;
            }

            .contact-headline {
                padding-left: 24px !important;
                display: block !important;

                h3 {
                    margin: 0px !important;
                    font-size: 47px !important;
                    border-right: none !important;
                }

                p {
                    margin: 10px 0px !important;
                }

                .seperator {
                    display: block !important;
                    width: 32px;
                    height: 2px;
                    background-color: $lightblue;
                    margin-bottom: 16px;
                }
            }

            #contactDetails {
                .contact-info-head {
                    .contact-edit {
                        display: none !important;
                    }
                }
            }

            #mobile-menu {
                display: flex;
                flex: 1;
                justify-content: flex-end;
                margin-right: 16px;
                margin-top: 37px;

                .mobile-icon {
                    background-color: $darkblue;
                    padding: 8px 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                }

            }
        }

        .new-contact {
            padding: 2px 15px !important;
        }

        #contactDetails {
            .contact-details-head {
                gap: 50px !important;
                margin-left: 26px !important;

                .list-contact-frame {
                    min-width: 31px !important;
                    height: 31px !important;
                }

                .contactInfo {
                    .contact-name {
                        font-size: 36px !important;
                    }
                }
            }
        }
    }


    #overlayContent {
        flex-direction: column !important;

        .overlay-left {
            border-bottom-left-radius: 0px !important;
            flex-direction: column !important;
            border-top-right-radius: 32px !important;
            height: 279px !important;
            width: 320px !important;

            #logo {
                display: none !important;
            }

            .overlay-title {
                font-size: 47px !important;
            }

            p {
                font-size: 21px !important;
            }
        }

        .close-top {
            display: block !important;
            height: auto !important;
            position: absolute !important;
            top: 118px !important;
            padding-left: 18rem !important;
            height: 32px;

            .white {
                display: block !important;
                height: 23px;
                width: 23px;
            }
        }

        .close {

            .dark {
                display: none !important;
            }
        }

        .overlay-right {
            flex-direction: column !important;
            gap: 0px !important;
            border-bottom-left-radius: 32px !important;
            border-bottom-right-radius: 32px !important;
            padding: 0px 24px !important;
            width: 320px !important;
            border-top-right-radius: 0px !important;

            &>img {
                position: absolute;
                top: 19rem;
            }

            .user-icon {
                transform: translate(0px, -50px) !important;
                top: 22rem !important;
            }

            form {
                transform: translate(0px, -100px) !important;
                margin-top: 10rem;
            }
        }
    }
}


@media (max-width: 600px) {
    #contacts-container {
        margin-left: 1px !important;
        position: fixed !important;

        .contacts-list {
            height: calc(100vh - 220px) !important;
            padding-top: 75px;
        }
    }

    .new-contact {
        height: 60px !important;
    }


}



.overflow {
    overflow: hidden !important;
}

#contacts-container {
    position: relative;
    margin-left: 200px;
    display: flex;

    .contacts-list {
        height: calc(100vh - 75px);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 30vw;
        overflow-y: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 7px;
            background: #A8A8A8;
        }

        .list-header {
            text-align: center;
            width: 80%;
            padding-top: 8px;
            padding-bottom: 16px;
            font-size: 21px;
            font-weight: 400;
            border-bottom: 1px solid gray;
            margin-bottom: 16px;
        }

        .list-contact {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            height: fit-content;
            padding: 15px 25px;
            margin-left: 48px;
            margin-right: 48px;
            gap: 35px;
            width: 100%;
            box-sizing: border-box;
            border-radius: 10px;
            width: fit-content;
            font-size: 16px;
            cursor: pointer;

            .contact-frame {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: fit-content;
                min-width: 42px;
                height: 42px;
                color: #FFFFFF;
                border-radius: 100%;
            }

            .list-contact-info {
                min-width: 150px;
            }

            img {
                height: 42px;
                width: 42px;
                padding-right: 8px;
            }

            div {
                p {
                    margin: 0;
                    font-size: 16px;

                    &:first-child {
                        font-size: 21px;
                    }

                    &:last-child {
                        padding-top: 4px;
                        color: #007CEE;
                    }
                }
            }

            &:hover {
                background-color: #E6E6E6;
            }
        }

        .list-contact-activ {
            background-color: $darkblue;
            color: white;

            &:hover {
                background-color: $darkblue;
                translate: 5px;
            }
        }
    }

    .contact-info {
        padding-left: 32px;

        .contact-headline {
            display: flex;
            align-items: center;
            gap: 24px;

            h3 {
                font-size: 61px;
                border-right: 3px solid $lightblue;
                padding-right: 24px;
            }

            p {
                font-size: 27px;
            }
        }

        .contact-details {
            margin-left: 24px;

            .contact-details-head {
                display: flex;
                align-items: center;
                gap: 100px;
                margin-left: 38px;

                .list-contact-frame {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    width: fit-content;
                    min-width: 42px;
                    height: 42px;
                    color: #FFFFFF;
                    border-radius: 100%;
                    scale: 3;
                }

                .contactInfo {
                    margin-left: 0px;

                    .contact-name {
                        font-size: 47px;
                        margin-bottom: 16px;
                    }

                    .add-task {
                        margin-top: 18px;
                        cursor: pointer;
                        font-size: 16px;
                        color: $lightblue;
                    }
                }
            }

            .contact-info-head {
                margin-top: 24px;
                display: flex;
                align-items: center;
                gap: 50px;

                &>p {
                    font-size: 21px;
                }

                .contact-edit {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    cursor: pointer;

                    img {
                        width: 21px;
                        height: 30px;
                    }

                    &:hover {
                        filter: invert(65%) sepia(21%) saturate(6259%) hue-rotate(164deg) brightness(97%) contrast(82%);
                    }
                }
            }
        }

        .contact-info-container {
            .contact-info-segment {
                display: flex;
                flex-direction: column;
                gap: 8px;
                margin-bottom: 24px;

                .contact-info-title {
                    font-weight: 700;
                }

                a {
                    text-decoration: none;
                    color: $lightblue;

                    &:hover {
                        color: $lightblueHover;
                    }
                }
            }
        }

    }

    .new-contact {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        gap: 8px;
        bottom: 24px;
        right: 24px;
        @include button-darkblue;
        box-sizing: border-box;
    }
}

#overlayContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.712);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;

    .overlay-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $darkblue;
        height: 50vh;
        color: white;
        padding: 0px 24px;
        border-bottom-left-radius: 32px;
        border-top-left-radius: 32px;

        img {
            height: 66px;
            width: 55px;
        }

        .overlay-title {
            font-size: 61px;
            font-weight: 700;
            margin: 0px;
        }

        p {
            margin: 0px;
            font-size: 27px;
        }

        .overlay-sep {
            margin-top: 16px;
            width: 80px;
            height: 3px;
            background-color: $lightblue;
        }
    }

    .close-top {
        display: none;
    }

    .close {
        height: 100%;
        margin-top: 35px;

        img {
            height: 23px;
            width: 23px;
            cursor: pointer;
        }

        .white {
            display: none;
        }
    }

    .overlay-right {
        border-top-right-radius: 32px;
        border-bottom-right-radius: 32px;
        height: 50vh;
        background-color: $pagebackground;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding: 0px 48px;

        &>img {
            padding-bottom: 80px;
        }

        .phone-input {
            margin-bottom: 25px;
            @include inputForm('../assets/img/phone-icon.png', 94%, 55%);
            font-size: 14px !important;
            box-sizing: unset !important;
        }

        form {
            display: flex;
            flex-direction: column;

            .buttons {
                display: flex;
                gap: 16px;
            }

            .cancel-contact-btn {
                @include button-White;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    img {
                        filter: invert(65%) sepia(21%) saturate(6259%) hue-rotate(164deg) brightness(97%) contrast(82%);
                    }
                }
            }

            .add-contact-btn {
                @include button-darkblue;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 8px;
                font-weight: 700;
            }
        }

        [class*="-input"] {
            width: 250px;
            height: 25px !important;
        }
    }
}

.alert {
    display: flex;
    position: absolute;
    bottom: -50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0;


    .alert-content {
        @include button-darkblue;
    }
}

.animate {
    animation: slide-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}


/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0;
    }
}

/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
@keyframes slide-in-blurred-right {
    0% {
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        transform-origin: 0% 50%;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    100% {
        transform: translateX(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.d-none-mobile {
    display: block;
}