.arrow-left-icon {
    position: absolute;
    top: 5%;
    left: 5%;
    cursor: pointer;
}

.text-center {
    text-align: center;
    margin-bottom: 25px;
}

.forgot-password-text {
    overflow: hidden;
    white-space: nowrap;
    font-size: 40px !important;
}

.forgot-password-height {
    height: 300px !important;
    width: 600px !important;
}

.reset-password-height {
    height: 350px !important;
    width: 600px !important;
}