.start-animation {
    background-color: $pagebackground;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 5;
    animation: start-fade-out-background 0.5s ease-in-out both 1s;

    
    .logo-animation {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        animation: start-desktop-animation 1s ease-in-out both 1s;
    }

    @keyframes start-fade-out-background {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            z-index: 0;
        }
    }

    @keyframes start-desktop-animation {
        0% {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }

        70% {
            opacity: 0.5;
            transform: scale(0.1);
            top: 5%;
            left: 5%;
        }

        100% {
            opacity: 0;
            transform: scale(0);
            z-index: 0;
            top: 5%;
            left: 5%;
        }
    }
}

.mobile-logo-animation {
    display: none;
}

.log-in {
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .log-in-logo {
        position: absolute;
        top: 8%;
        left: 8%;
    }

    .sign-up {
        position: absolute;
        right: 8%;
        top: 5%;

        .sign-up-button {
            @include button-darkblue;
            font-size: 16px;
            text-decoration: none;
            font-weight: 700;
            margin-left: 32px;
        }
    }

    .form-class {
        height: 400px;
        width: 500px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 14px 3px #0000000A;
        position: relative;

        .log-in-form {
            display: flex;
            flex-direction: column;
            align-items: center;

            .log-in-headline {
                font-size: 50px;
                font-weight: 700;
                border-bottom: 3px solid $lightblue;
                padding-bottom: 10px;
                margin-bottom: 25px;
                margin-top: 16px;
            }

            .name-input {
                margin-bottom: 25px;
                width: 60%;
                @include inputForm('../assets/img/person-icon.png', 94%, 55%);
            }

            .email-input {
                margin-bottom: 25px;
                width: 60%;
                @include inputForm('../assets/img/letter-icon.png', 94%, 55%);
            }

            .password-input {
                margin-bottom: 25px;
                width: 60%;
                @include inputForm('../assets/img/lock-icon.png', 94%, 55%);
            }

            ::placeholder {
                opacity: 0.5;
            }

            .log-in-checkbox-div {
                font-size: 13px;
                display: flex;
                margin-bottom: 25px;

                .remember-me {
                    margin-left: 8px;
                    font-style: normal;
                    font-weight: 500;
                }

                .forgot-password-link {
                    text-decoration: none;
                    color: $lightblue;
                    margin-left: 25px;

                    &:hover {
                        color: $lightblueHover;
                    }
                }

                input[type="checkbox"] {
                    cursor: pointer;
                    accent-color: $darkblue;
                }

                input:focus {
                    outline: none;
                }
            }

            .log-in-button {
                @include button-darkblue;
                font-size: 16px;
                text-decoration: none;
                margin-right: 24px;
            }

            .guest-log-in-button {
                @include button-White;
                font-size: 16px;
            }

        }
    }


    .login-popup {
        color: white;
        background-color: $darkblue;
        padding: 8px 8px;
        border-radius: 6px;
        font-weight: 500;
        border: none;
        margin-top: 16px;
        text-align: center;
    }

}


/*** MEDIA QUERY ***/
@media (max-width: 600px) {

    /*** Mobile Animation ***/
    .start-animation {
        display: none;
    }

    .logo-animation {
        display: none;
    }

    .mobile-start-animation {
        background-color: $darkblue;
        position: absolute;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        z-index: 5;
        animation: fade-out-background 0.5s ease-in-out both 1s;
    }

    @keyframes fade-out-background {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            z-index: 0;
        }
    }

    .mobile-logo-animation {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        animation: start-mobile-animation 1s ease-in-out both 1s;
    }

    @keyframes start-mobile-animation {
        0% {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }

        70% {
            opacity: 0.5;
            transform: scale(0.1);
            top: 5%;
            left: 5%;
        }

        100% {
            opacity: 0;
            transform: scale(0);
            z-index: 0;
            top: 5%;
            left: 5%;
        }
    }

    /*** Login Page ***/
    .form-class {
        height: 450px !important;
    }

    .form-width-mobile {
        margin-right: 8px;
        margin-left: 8px;
    }

    .log-in-logo {
        top: 3% !important;
        height: 100px;
    }

    .log-in-checkbox-div {
        flex-direction: column;
        text-align: center;
    }

    .mobile-remember-me {
        display: flex;
        text-align: center;
        margin-bottom: 16px;
    }

    #remember-checkbox {
        margin: 0;
    }

    .forgot-password-link {
        margin: 0 !important;
    }

    .mobile-login-buttons {
        display: flex;
        flex-direction: column;
    }

    .log-in-button {
        color: white !important;
        background-color: $darkblue !important;
        cursor: pointer;
        padding: 10px 8px !important;
        border-radius: 6px !important;
        font-weight: 700 !important;
        border: none !important;
        margin-right: 0 !important;
        margin-bottom: 16px;

        &:hover {
            background-color: $lightblue !important;
        }
    }

    .sign-up {
        top: 81% !important;
        right: 0% !important;
        left: 0% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 48px !important;
    }

    /*** Sign-Up Page ***/
    .mobile-button-width {
        width: 150px;
    }

    .mobile-space-bottom {
        margin-bottom: 40px !important;
    }

}

@media (max-height: 700px) {
    .log-in-logo {
        height: 75px;
        top: 1% !important;
    }
}